.App-header {
    box-sizing:border-box;

    position: relative;
    width: 100%;
    height: 60px;
    left: -1px;
    top: 0px;
    width: auto;
    
    background: linear-gradient(180deg, white, transparent);
    /* border: 1px solid #000000; */

    /* transition: background-color(white) .3s,padding .3s; */
  }

  .header-logo {
    position:relative;
    display:flex;
  width: 90px;
  height: 35px;
  left: 32px;
  top: 15px;
  }
  

  .home-button {
    position: absolute;
  width: 69px;
  height: 18px;
  left: 250px;
  top: 26px;
  /* background-color:#FFFFFF; */
  border: none;
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;
  
  /* Actionable Item */
  
  color: #18A0FB;
  }
  
  .about-us-btn {
    box-sizing: inherit;
    position: absolute;
  width: 80px;
  height: 18px;
  left: 348px;
  top: 26px;
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;
  
  /* Actionable Item */
  
  color: #18A0FB;
  }

  .login-button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  /* align-items: center; */
  text-align: center;
  letter-spacing: 0.025em;
  /* box-sizing: inherit; */
  position: absolute;
  /* justify-content: right; */
width: 80px;
height: 18px;
left: 80%;
top: 26px;
  
  }

  .login-button:hover {
    margin: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .logout-button {
   
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.025em;
    /* box-sizing: inherit; */
    position: absolute;
    justify-content: right;
  width: 80px;
  height: 18px;
  left: 90%;
  top: 26px;
    
    
  }