.hero {
    flex-flow: column;
    box-sizing: inherit;
    left: 0%;
    right: 0%;
    top: 4.56%;
    bottom: 62.53%;
    
    background: #FFFFFF;
  
  
}
  .hero-h2 {
    position: absolute;
width: 530px;
height: 36px;
left: 560px;
top: 190px;

/* Body H4 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

letter-spacing: -0.015em;

color: #000000;
  }

  .hero-h3 {
    position: absolute;
  width: 600px;
  height: 90px;
  left: 560px;
  top: 250px;
  
  /* Body P */
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  letter-spacing: -0.015em;
  
  color: rgba(0, 0, 0, 0.8);
  
  }
  .hero-img {
    position: absolute;
    width: 400px;
    height: 250px;
    left: 70px;
    top: 150px;
  }

  .hero-btOne {
    position: absolute;
  width: 200px;
  height: 65px;
  left: 616px;
  top: 405px;
  background-color: #18A0FB;
  border-radius: 6px;
  }
  
  .hero-btwo {
    position: absolute;
  width: 200px;
  height: 65px;
  left: 900px;
  top: 405px;
  background-color: #FFFFFF;
  border-radius: 6px;
  
  }
