@import "antd/dist/antd.css";

.hero {
  size: 100%;
  left: 0%;
  right: 0%;
  top: 0%;
  /* border-style: solid ; */
  /* border-color: red; */
  display: flex;

  /* background: #FFFFFF; */
}

.hero-img-container {
  /* border-style: solid ; */
  /* border-color: blue; */
  width: 150%;




  
}
.hero-img {
  width: 190%;
  background: linear-gradient(180deg, white, 100%);
}

.hero-text-container {
  /* border-style: solid ; */
  /* border-color: green; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background: linear-gradient(to left, white, rgba(255, 122, 89,0) 100%);
  
  text-shadow: 2px 2px 10px white;
  /* font-size: large; */


}

.hero-h2 {

  /* left: 600px; */

}