
Hero {

    left: 0%;
    right: 0%;
    top: 1.56%;
    /* bottom: 100%;  */
    
    /* background: #FFFFFF; */
  
  
}
  .hero-h2 {
    position:relative;
width: 530px;
height: 36px;
left: 690px;
top: 140px;

/* Body H4 */

font-family: 'Blinker', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;
/* identical to box height, or 150% */

letter-spacing: -0.015em;

color: #000000;
  }

  .hero-h3 {
    position: relative;
  width: 600px;
  height: 90px;
  left: 690px;
  top: 180px;
  
  /* Body P */
  
  font-family: 'Blinker', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  letter-spacing: -0.015em;
  
  color: rgba(0, 0, 0, 0.8);
  
  }
  .hero-img {
    position: absolute;

    width: 650px;
    height:auto;
    left: 0px;
    top: 150px;
    margin: auto;
  }

  .hero-btOne {
    position:fixed;
  width: 200px;
  height: 65px;
  left: 500px;
  top: 300px;
  background-color: black;


  }
  
  /* .hero-btwo {
    position: inherit;
  width: 200px;
  height: 65px;
  left: 800px;
  top: 305px;
  background-color: #ffffff;
  border-radius: 6px;
  font:100
  
  } */
