.body-login {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 10%;
    /* border: solid; */


}
form {
    display: inline-block; 
    /* align-items: center; */
    /* border: 2px;
    border-color: black; */
}
input {
    width: 340px;
}